*{
  margin:0px;
  background-color: beige;
}
.container{
  justify-content: baseline;
  
}
.item{
  text-align: center;
  background-color: blue;
  border: 5px solid rgb(12, 21, 102);
  margin: 30px;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;;
}
.item:hover:{
   background-color: brown;
}